*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: url(/static/img/body28.jpg) no-repeat center fixed;
    background-size:cover;
    padding-top:80px;
    line-height:150%;
    list-style: none;
    height: 100%;
}

#mainbody{
    min-height: 100%;
}

.navbar{
    background:rgba(0,0,0,0.5);
    box-shadow:none;
}

#container{
    width:1250px;
    margin:0 auto;
    position: relative;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}





