{% extends "base_nav.html" %}

{% block header %}
	<h2 class="about_header" id="about_header">
		ABOUT
	</h2>
{% endblock %}

{% block content %}
	<div class="about_container" id="about_container">
		<div class="about_me" id="about_me">
			<div class="about_me_left" id="about_me_left">
				<span id="message_left">
					ME
				</span>
			</div>
			<div id="about_me_right">
				<span id="message_right">
					<span>IT技术宅</span>
					<span>邮箱:Rosen9212@gmail.com</span>
					<span>QQ:1521658516</span>
				</span>
			</div>
		</div>
		<div class="about_blogsite" id="about_blogsite">
			<div id="about_blogsite_left">
				<span id="message_left">
					SITE
				</span>
			</div>
			<div id="about_blogsite_right">
				<span id="message_right">
					<span>IT技术宅个人作品</span>
					<span>代码已托管在GitHub上</span>
				</span>
			</div>
		</div>
	</div>
{% endblock %}




