{% extends 'base.html' %}

{% block title %}
	<title id="hometitle">Rosen的首页</title>
{% endblock %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/blog/homepage.css">
{% endblock %}

{%block headscript%}
{%endblock%}

{% block nav %}

<div id="home_container">
	<div id="welcome">
		<h1>Welcome to Rosen's site!</h1>
	</div>
</div>

<div id="acess">
	<a href="{% url bloglist %}" id="acess_in">
		Go to
	</a>
</div>

{% endblock %}

{% block content %}

{% endblock %}